# directories ---------------
# `npm` packages
node_modules
# files ---------------------
# `blackbox` files
keyrings/live/pubring.gpg~
keyrings/live/pubring.kbx~
keyrings/live/secring.gpg
# files containing secrets
files/npmrc
files/firebase-tools.json
files/auth.json
files/config.yml
# root files linked from `files/**/*`
.editorconfig
.gitattributes
.gitconfig
# logs
*.log
