.babelrc
.eslintrc
.editorconfig
.gitattributes
.gitconfig
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
node_modules
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
