# Directories ---------------
# Yarn-installed packages
node_modules
# Files ---------------------
# Blackbox files
keyrings/live/pubring.gpg~
keyrings/live/pubring.kbx~
keyrings/live/secring.gpg
# Files containing secrets
files/npmrc
files/firebase-tools.json
files/auth.json
files/config.yml
# Root files linked from files/**/*
.editorconfig
.gitattributes
.gitconfig
# Logs
*.log
